@using Food_Market.Models.OrderModels
@model List<OrderViewModel>
@{
	ViewData["Title"] = "My Orders";
}

<div class="container mt-3">
	<h2>Orders List</h2>
	
		<div class="list-group-item list-group-item-action list-group-item-secondary">
			<ul class="list-group list-group-horizontal list-group-flush">
				<li class="list-group-item col-1">Order No.</li>
				<li class="list-group-item col-2">User Email</li>
				<li class="list-group-item col-3">Created Placed</li>
				<li class="list-group-item col-2">Order Total</li>
				<li class="list-group-item col-2">Order Status</li>
				<li class="list-group-item col-2">Details</li>
			</ul>
		</div>

	@foreach (OrderViewModel Item in Model)
		{
		<ul class="list-group list-group-horizontal list-group-flush">
			<li class="list-group-item col-1">@Item.Id</li>
			<li class="list-group-item col-2">@Item.UserEmail</li>
			<li class="list-group-item col-3">@Item.Date </li>
			<li class="list-group-item col-2">@Item.Total</li>
			<li class="list-group-item col-2">@Item.status</li>
			<li class="list-group-item col-2"><a asp-action="" asp-route-id="" disable>View Details</a></li>
		</ul>
		}
	
</div>